<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/static.css">

    <title>About Us</title>
</head>

<body>
<div class="container">

    <h1>About Us</h1>

    <a th:href="@{/mainscreen}" class="btn btn-primary btn-sm mb-3">Home</a>

    <hr>

    <h2>About Our Store</h2>
    <p>
        Guitar Shop is your one-stop shop for all your musical instrument needs. Since our foundation in 2001, we have been providing musicians with the highest quality instruments and parts. From classical strings to modern synthesizers, our expert staff is here to help you find the perfect instrument.
    </p>
    <p>
        Whether you're a beginner or a seasoned professional, we understand the importance of finding not just the right instruments, but also the best accessories and parts to enhance your playing experience. Our store offers a wide selection of guitars, pianos, wind instruments, and more. Additionally, we pride ourselves on our knowledgeable repair and maintenance services to keep your instruments playing beautifully.
    </p>
</div>
</body>
</html>